<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf8" />
		<title>cashtrack</title>
		<link rel="stylesheet" href="icons.css" />
		<script type="application/javascript" src="jquery-1.9.1.js"></script>
		<script type="application/javascript" src="jquery-ui.js"></script>
		<script type="application/javascript" src="underscore.js"></script>
		<script type="application/javascript" src="backbone.js"></script>
		<link rel="stylesheet" href="style.css" />
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<div id="main"></div>
		<script type="text/template" id="template-section">
			<h2><%= name %></h2>
			<div class="nodes"></div>
		</script>
		<script type="text/template" id="template-node">
			<div class="node" title="<%= name %>" style="background-color: <%= color %>">
				<span class="label"><%= name %></span>
				<span aria-hidden="true" class="icon icon-<%= icon %>"></span>
				<span class="value">
					<%= actual %><% if( budget ) { %>/<%= budget %><% } %> €
				</span>
			</div>
		</script>
		<script type="application/javascript" src="app.js"></script>
		<script type="application/javascript" src="entities.subcollection.js"></script>
		<script type="application/javascript" src="home.js"></script>
		<script type="application/javascript" src="home.screen.js"></script>
		<div id="header">
		
		</div>
		<div id="content">
			
		</div>
	</body>
</html>