body {
	margin: 0 0 0 120px;
	background: #2c3e50;
}

.turquoise{background-color: #1ABC9C;border-color: #1ABC9C;outline-color:#1ABC9C;}
.green-sea{background-color: #16A085;border-color: #16A085;outline-color:#16A085;}
.emerald{background-color: #2ECC71;border-color: #2ECC71;outline-color:#2ECC71;}
.nephritis{background-color: #27AE60;border-color: #27AE60;outline-color:#27AE60;}
.peter-river{background-color: #3498DB;border-color: #3498DB;outline-color:#3498DB;}
.belize-hole{background-color: #2980B9;border-color: #2980B9;outline-color:#2980B9;}
.amethyst{background-color: #9B59B6;border-color: #9B59B6;outline-color:#9B59B6;}
.wisteria{background-color: #8E44AD;border-color: #8E44AD;outline-color:#8E44AD;}
.wet-asphalt{background-color: #34495E;border-color: #34495E;outline-color:#34495E;}
.midnight-blue{background-color: #2C3E50;border-color: #2C3E50;outline-color:#2C3E50;}
.sun-flower{background-color: #F1C40F;border-color: #F1C40F;outline-color:#F1C40F;}
.orange{background-color: #F39C12;border-color: #F39C12;outline-color:#F39C12;}
.carrot{background-color: #E67E22;border-color: #E67E22;outline-color:#E67E22;}
.pumpkin{background-color: #D35400;border-color: #D35400;outline-color:#D35400;}
.alizarin{background-color: #E74C3C;border-color: #E74C3C;outline-color:#E74C3C;}
.pomegranate{background-color: #C0392B;border-color: #C0392B;outline-color:#C0392B;}
.clouds{background-color: #ECF0F1;border-color: #ECF0F1;outline-color:#ECF0F1;}
.silver{background-color: #BDC3C7;border-color: #BDC3C7;outline-color:#BDC3C7;}
.concrete{background-color: #95A5A6;border-color: #95A5A6;outline-color:#95A5A6;}
.asbestos{background-color: #7F8C8D;border-color: #7F8C8D;outline-color:#7F8C8D;}

.section {
	clear: both;
}

.section h2 {
	//border-bottom: 1px solid #27ae60;
	font: 21pt 'Segoe UI', sans-serif;
	margin: .2em 0;
	color: #fff;
}

.section:after {
	clear: both;
	float: none;
	display: table;
	visibility: hidden;
	content: ' ';
}

.node {
	display: block;
	width: 96px;
	height: 96px;
	padding: 8px;
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
	
	border-width: 1px;
	border-style: solid;
	outline-width:1px;
	outline-style: solid;
	
	color: #ffffff;
	#color: rgba(255, 255, 255, 0.9);
	cursor: pointer;
	
	text-align: center;
	font: 11pt 'Segoe UI', sans-serif;
}

.node.drop-hover {
	border-color: #fff;
}

.node .label {
	margin: 0;
	line-height: 1em;
}

.node .icon {
	display: block;
	font-size: 3em;
	margin: 4px 0;
	color: #ffffff;
}

.draggable.icon {
	z-index: 100;
	border-radius: 25px;
	text-align: center;
	padding: 0 0 2px 2px;
	width: 48px;
	height: 48px;
	font-size: 48px;
}

.node .value {
}

.node.helper {
	background: transparent;
	border: none;
	outline: none;
}

.node.helper .label,
.node.helper .value {
	visibility: hidden;
}

.modal {
	position: fixed;
	left: 0;
	right: 0;
	top: 200px;
	background: #fff;
	padding: 36px 0;
}

.modal .body,
.modal .title,
.modal .buttons {
	width: 540px;
	margin: 0 auto;
}

.modal .title {
}

.modal .title:after {
	clear: both;
	content: ' ';
	display: table;
	visibility: hidden;
}

.modal .title .value {
	float: left;
	margin: 0 0 12px;
	font: 21pt 'Segoe UI', sans-serif;
}

.modal .title .close {
	margin: 0 0 12px;
	float: right;
	background: none;
	border: none;
	font: bold 21pt 'Segoe UI', sans-serif;
	opacity: .7;
	margin-top: -2px;
	cursor: pointer;
}

.modal .title .close:hover {
	opacity: 1;
}

.modal .title .close:active {
	opacity: .4;
}

.modal .body {
	font: 11pt 'Segoe UI', sans-serif;
	margin-bottom: 2em;
}

.button,
.modal .buttons button {
	float: right;
	font: 11pt 'Segoe UI', sans-serif;
	padding: .5em 1em;
	
	color: rgba(255, 255, 255, .8);
	background: #3498db;
	border: 1px solid #3498db;
	outline: 1px solid #3498db;
	
	margin-left: 4px;
	cursor: pointer;
}

.button:hover,
.modal .buttons button:hover {
	border-color: #fff;
	color: rgba(255, 255, 255, 1);
}

.button:active,
.modal .buttons button:active {
	color: rgba(255, 255, 255, .6);
}

.modal .buttons button.secondary {
	background: none;
	border-color: transparent;
	outline-color: transparent;
	color: rgba(0, 0, 0, .6);
	text-decoration: underline;
}

.modal .buttons button.secondary:hover {
	color: rgba(0, 0, 0, .8);
}

.modal .buttons button.secondary:active {
	color: rgba(0, 0, 0, .4);
}