.app-android {
	//font-family: 'Open Sans', sans-serif;
}

.app-button.transaction {
	font-size: 2.5em;
	margin-top: -3px;
}

.input {
	position: relative;
}

.inline-input {
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #eee;
  margin: 0 3px;
}

.popup:after {
	position: absolute;
	display: inline-block;
	height: 0;
	content: " ";
	width: 0;
	bottom: 0;
	right: 0;
	border-bottom: 10px solid #0059bc;
	border-left: 10px solid transparent;
	opacity: .6;
	z-index: 0;
}

.input.popup,
.inline-input.popup {
  padding-right: 12px;
}

.popup:hover:after {
	opacity: .8;
}

#home .app-list li {
	margin: 0;
	padding: 2px 18px 2px 26px;
}

#home .app-list .left {
	float: left
}

#home .app-list .right {
	float: right;
	font-size: 2em;
	font-weight: bold;
	margin-top: -5px;
}

#overview .app-content {
	text-align: center;
}

#overview .wrapper {
	margin-top: 2em;
}

#overview .month {
	font-size: 1.5em;
}

#overview .expenses {
	font-size: 3em;
	font-weight: 100;
}

#overview .categories {
	margin: 3em 8px 8px;
	list-style: none;
	
}

#overview .category {
	font-weight: 300;
}

#overview .category:after {
	clear: both;
	display: table;
	content: ' ';
}

#overview .category .left {
	width: 49%;
	margin-right: 1%;
	float: left;
	display: inline-block;
	text-align: right;
}

#overview .category .right {
	width: 49%;
	margin-left: 1%;
	text-align: left;
	display: inline-block;
}

#overview .category .bar {
	display: block;
	height: 40px;
	margin: 4px 0;
	background: #ccc;
	border: 1px solid #fff;
	
	transition: all .4s ease-out .5s;
	-o-transition: width .4s ease-out .5s;
	-moz-transition: width .4s ease-out .5s;
	-webkit-transition: width .4s ease-out .5s;
}

#transaction .amount {
	text-align: right;
	font-size: 2em;
	padding-right: 6px;
}

#transaction .amount:after {
	content: ' ';
	clear: both;
	display: table;
}

#transaction .amount .value{
	margin: 0;
	float: left;
	padding-right: 22px;
	margin-right: -22px;
	box-sizing: border-box;
	text-align: right;
	vertical-align: top;
	height: auto;
	line-height: normal;
	border-bottom: 0;
	
	font-weight: 100;
}

#transaction .amount.error {
	color: #cc0000;
}

#transaction .input .add-on {
	float: left;
	display: inline-block;
	height: 40px;
	margin-left: -1px;
	padding: 10px 0 10px 4px;
	vertical-align: top;
	
	font-weight: 100;
}

#transaction .category {
	cursor: pointer;
}

#transaction .category:last-child {
	border-bottom: 0;
}

#transaction .category .color {
	display: inline-block;
	width: .75em;
	height: .75em;
	margin-right: .5em;
	border: 1px solid #fff;
}

#transaction .category .radio {
	position: relative;
	float: right;
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 8px;
	border: 1px solid #aaa;
	background: #eee;
	line-height: 43px;
	margin: 12px 0;
}

#transaction .category .radio:before {
	border: 1.2px solid #fff;
	content: '';
	width: 13px;
	height: 13px;
	position: absolute;
	border-radius: 7px;
}

#transaction .category.selected .radio {
	background: #09c;
}

#transaction .input {
	margin: 0 18px;
	padding-left: 8px;
}

#transaction .input label {
	width: 100px;
	margin-right: -100px;
	height: 20px;
	line-height: 20px;
	padding: 10px 0;
	display: inline-block;
	float: left;
}

#transaction .input input {
	width: 100%;
	box-sizing: border-box;
	padding-left: 100px;
	display: inline-block;
	border-bottom: 1px solid #eee;
}

#transaction .input:last-child input {
	border-bottom: 0;
}

#transaction .input.date .value{
	text-align: right;
}

#transaction .picker__button--today, 
#transaction .picker__button--clear {
	width: 33%;
}

#history select.category {
	float: right;
	margin: 1em 8px;
}

#history .history {
	clear: both;
}

#history .month .header {
	font-weight: bold;
	padding: 2px 18px 2px 6px;
	line-height: 2em;
	border-bottom: 3px double #EEE;
	
	position: relative;
}

#history .month.empty .header {
	border-bottom-color: transparent;
}

#history .month.folded .header {
	border-bottom-color: transparent;
	transition: border .4s .4s;
	-o-transition: border .4s .4s;
	-moz-transition: border .4s .4s;
	-webkit-transition: border .4s .4s;
}

#history .month .header .expand {
	display: inline-block;
	font-size: 2em;
	width: 11px;
	height: 11px;
	line-height: 4.7px;
	margin-right: 7px;
	margin-left: 2px;
}

#history .month.empty .header .expand {
	visibility: hidden;
}

.app-loaded #history .month .header .expand {
	transition: transform .4s;
	-o-transition: -o-transform .4s;
	-moz-transition: -moz-transform .4s;
	-webkit-transition: -webkit-transform .4s;
}

#history .month.expanded .header .expand{
	transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg); 
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

#history .month.folded .header .expand {
	transform: rotate(-90deg);	
	-o-transform: rotate(-90deg);	
	-moz-transform: rotate(-90deg);	
	-webkit-transform: rotate(-90deg); 
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


#history .month .header .name {
	display: inline;
}

#history .month .header .amount {
	float: right;
}

#history .month .transactions {
	list-style: none;
	transition: height .4s;
	-o-transition: height .4s;
	-moz-transition: height .4s;
	-webkit-transition: height .4s;
}

#history .month .transaction {
	margin: 0;
	padding: 2px 18px 2px 26px;
	font-weight: normal;
	font-size: .8em;
	
	line-height: 2em;
	height: 2em;
}

#history .month .transaction .date {
	display: inline-block;
	width: 60px;
}

#history .month .transaction .color {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-right: 1em;
	border: 1px solid #fff;
}

#history .month .transaction .amount {
	float: right;
}


#distribution .chart {
	margin: 1em auto;
    height: 200px;
}

#distribution .datepicker {
	float: right;
    margin: 6px 18px;
}

#distribution .datepicker select {
  background: none;
  border: none;
  -webkit-appearance: none;
}

#distribution .categories {
	clear: both;
}

#distribution .category {
	font-weight: normal;
	font-size: .8em;	
	line-height: 2em;
	height: 2em;

}

#distribution .category .color {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-right: 1em;
	border: 1px solid #fff;
}

#distribution .category .amount {
	float: right;
	margin-right: 1em;
	font-weight: lighter;
}

#distribution .category .percentage {
	float: right;
	width: 45px;
	margin-left: .7em;
	font-weight: bold;
	text-align: right;
}